{%- comment -%}
IMPLEMENTATION NOTE ABOUT MEGA MENUS: in Warehouse, on desktop, we have two different menu styles: one style where the first level is always
visible, and a second style where the menu is displayed after hitting the "Menu" button.

The mega menu logic is as a consequence quite difference: in the first style, the mega-menu is actually part of the second dropdown menu (as each level
is displayed as a dropdown). However on the second style, the mega-menu is checked on the first level, as the first menu (which holds the mega-menu) is
always visible.
{%- endcomment -%}
<div id="overlay1"></div>

{%- assign mega_menus = section.blocks | map: 'settings' | map: 'menu_item' -%}

{%- if section.settings.desktop_navigation_layout == 'condensed' -%}
  {%- assign is_floating = true -%}
{%- else -%}
  {%- assign is_floating = false -%}
{%- endif -%}

{%- assign is_mega_menu = false -%}
{%- assign downcase_title = menu.title | downcase | strip -%}

{%- for mega_menu in mega_menus -%}
  {%- assign mega_menu_setting_downcase = mega_menu | downcase | strip -%}

  {%- if mega_menu_setting_downcase == downcase_title -%}
    {%- assign is_mega_menu = true -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

{%- if is_floating == false and is_mega_menu -%}
  {%- render 'mega-menu', is_floating: is_floating, mega_menu: menu, index: index -%}
{%- else -%}
<ul id="{{ index }}" class="nav-dropdown {% if is_floating %}nav-dropdown--floating {% if mega_menus.size > 0 %}nav-dropdown--fixed {% endif %}{% elsif menu.levels == 1 %}nav-dropdown--restrict{% endif %}" data-type="menu" aria-hidden="true" role="list" onmouseenter="document.getElementById('overlay1').classList.add('show');" onmouseleave="document.getElementById('overlay1').classList.remove('show');">
   {%- if is_floating -%}
      {%- render 'icon', icon: 'nav-triangle-borderless' -%}
    {%- endif -%}

    {%- for link in menu.links -%}
      {%- assign is_mega_menu = false -%}
      {%- assign downcase_title = link.title | downcase | strip -%}

      {%- for mega_menu in mega_menus -%}
        {%- assign mega_menu_setting_downcase = mega_menu | downcase | strip -%}

        {%- if mega_menu_setting_downcase == downcase_title -%}
          {%- assign is_mega_menu = true -%}
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}

      <li class="nav-dropdown__item has-mega-menu">
        {%- if link.links.size == 0 -%}
          <a href="{{ link.url }}" class="nav-dropdown__link link" data-type="menuitem">{{ link.title }}</a>
        {%- else -%}
          {%- capture index_nested -%}{{ index }}-{% increment nav_dropdown %}{%- endcapture -%}
          <a href="{{ link.url }}" class="nav-dropdown__link link" data-type="menuitem" aria-expanded="false" aria-controls="{{ index_nested }}" aria-haspopup="true">{{- link.title -}} {%- render 'icon', icon: 'arrow-right' -%}</a>

          {%- if is_mega_menu -%}
            {%- render 'mega-menu', is_floating: is_floating, mega_menu: link, index: index_nested -%}
          {%- else -%}
            <ul id="{{ index_nested }}" class="nav-dropdown {% if is_floating %}nav-dropdown--floating{% endif %}" data-type="menu" aria-hidden="true" role="list">

              {%- for sub_link in link.links -%}
                <li class="nav-dropdown__item">
                  {%- if sub_link.links.size == 0 -%}




                  
   {%- assign collection = sub_link.object | default: false -%}
    {%- if collection and link.title != blank -%}
                      {%- capture panel_id -%}mobile-panel-{{ forloop.parentloop.index0 }}-{{ forloop.index0 }}{%- endcapture -%}
      {%- assign collection_image = collection.image | default: false -%}
      {%- if collection_image -%}
        <a  href="{{ sub_link.url }}" class="mobile-menu__nav-link mobi_menu_naslov" data-type="menuitem" aria-haspopup="true" aria-expanded="false" aria-controls="{{ panel_id }}" data-action="open-panel">
          <div class="center-mobitel"><img data-src="{{ collection_image.src | img_url: '100x' }}" alt="{{ collection_image.alt }}" class="mobile-menu__collection-image mobi_menu_slika_manjsa lazyload" loading="lazy"/>

          {{- sub_link.title -}} </div> 
        </a>
      {%- endif -%}
    {%- endif -%}
                    
                    
                    
                    
                    
                    
                    
                    
                    {%- else -%}
                    {%- capture index_nested_nested -%}{{ index_nested }}-{% increment nav_dropdown_nested %}{%- endcapture -%}

  <a  href="{{ sub_link.url }}" class="mobile-menu__nav-link mobi_menu_naslov" data-type="menuitem" aria-haspopup="true" aria-expanded="false" aria-controls="{{ panel_id }}" data-action="open-panel">
          <div class="center-mobitel"><img data-src="{{ collection_image.src | img_url: '100x' }}" alt="{{ collection_image.alt }}" class="mobile-menu__collection-image mobi_menu_slika_manjsa lazyload" loading="lazy"/>

          {{- sub_link.title -}} {%- render 'icon', icon: 'arrow-right' -%} </div> 
        </a>
   




                  
                    <ul id="{{ index_nested_nested }}" class="nav-dropdown {% if is_floating %}nav-dropdown--floating{% endif %}" data-type="menu" aria-hidden="true" role="list">

                      {%- for sub_sub_link in sub_link.links -%}
                        <li class="nav-dropdown__item">

                          
{%- assign collection = sub_sub_link.object | default: false -%}
    {%- if collection and link.title != blank -%}
      {%- assign collection_image = collection.image | default: false -%}
      {%- if collection_image -%}
        <a  href="{{ sub_sub_link.url }}" class="mobile-menu__nav-link mobi_menu_naslov"  aria-haspopup="true" aria-expanded="false" aria-controls="{{ panel_id }}" data-action="open-panel">
          <div class="center-mobitel"><img data-src="{{ collection_image.src | img_url: '100x' }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="{{ collection_image.alt }}" class="mobile-menu__collection-image mobi_menu_slika_manjsa lazyload" loading="lazy"/>
          {{- sub_sub_link.title -}} </div>  
        </a>
      {%- endif -%}
    {%- endif -%}           
                        
                        
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
<script>
function lazyLoadImages(menuItem) {
  const lazyImages = menuItem.querySelectorAll('.lazyload');

  lazyImages.forEach((img) => {
    if (img.dataset.src) {
      img.src = img.dataset.src;
      img.removeAttribute('data-src');
      img.classList.remove('lazyload');
    }
  });
}

document.addEventListener('DOMContentLoaded', () => {
  document.querySelectorAll('.nav-dropdown__link').forEach((mainNavLink) => {
    mainNavLink.addEventListener('mouseenter', () => {
      const parentMenuItem = mainNavLink.closest('.nav-dropdown__item');
      if (parentMenuItem) {
        lazyLoadImages(parentMenuItem);
      }
    });
  });
});


</script>


<style>
ul#desktop-menu-0-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 282%;
    padding: 10px;
}



  ul#desktop-menu-0-1{
    width: 100%;padding: 10px;

}


  ul#desktop-menu-0-6{
    width: 100%;padding: 10px;

}

  .nav-dropdown .nav-dropdown--floating {
    top: 0px;padding: 10px;
}
</style>

