<div class="product-form__payment-container" {{ block.shopify_attributes }}>
  {%- if product.template_suffix != 'contact' -%}
    {%- if product.selected_or_first_available_variant.available -%}
      {%- if product.template_suffix == 'pre-order' -%}
        <button type="submit" class="product-form__add-button button button--primary" data-action="add-to-cart">{{ 'product.form.pre_order' | t }}</button>
      {%- else -%}
<button type="submit" class="product-form__add-button button button--primary" data-action="add-to-cart"> 
<svg focusable="false" class="icon icon--cart " viewBox="17 3 20 25" role="presentation">
      <g transform="translate(0 1)" stroke-width="2" stroke="currentColor" fill="none" fill-rule="evenodd">
        <circle stroke-linecap="square" cx="11" cy="20" r="2"></circle>
        <circle stroke-linecap="square" cx="22" cy="20" r="2"></circle>
        <path d="M7.31 5h18.27l-1.44 10H9.78L6.22 0H0"></path>
      </g>
    </svg>     
        {{ 'product.form.add_to_cart' | t }}</button>      {%- endif -%}
    {%- else -%}
      <button type="submit" class="product-form__add-button button button--disabled" disabled>{{ 'product.form.sold_out' | t }}</button>
    {%- endif -%}

    {%- if block.settings.show_payment_button and product.template_suffix != 'pre-order' -%}
      {{ form | payment_button }}
    {%- endif -%}
  {%- else -%}
    <a href="mailto:{{ shop.email }}" class="button button--primary">{{ 'product.form.contact_us' | t }}</a>
  {%- endif -%}

  {%- if block.settings.show_payment_button and product.selected_or_first_available_variant.available == false -%}
    <style>
      #shopify-section-{{ section.id }} .shopify-payment-button {
        display: none;
      }
    </style>
  {%- endif -%}
</div>