{%- assign showCode = false -%}
{%- for link in quick_links_menu.links -%}
    {%- for sub_link in link.links -%}
        {%- for sub_sub_link in sub_link.links -%}
            {%- if sub_sub_link.active and forloop.index == 1 -%}
                {%- assign showCode = true -%}
            {%- endif -%}
        {%- endfor -%}
    {%- endfor -%}
{%- endfor -%}
{%- if showCode -%}
<ul class="kolekcija" role="list" style="list-style: none; padding-bottom:10px;">
  {%- for link in quick_links_menu.links -%}
    <li>
      {%- if link.links.size > 0 -%}
        {%- capture link_id -%}filter-{% increment link_id %}{%- endcapture -%}
        {% assign collection1 = link.object %}

        <div class="kategorije-celota collection__filter-collapsible">
          <ul class="collection__filter-linklist zinb">
            {%- for sub_link in link.links -%}
              {% if sub_link.child_active %}
                {%- if sub_link.links.size > 0 -%}
                  <div id="{{ link_id }}" class="kolekcija2 collection__filter-collapsible kate1" style="background: #f2f5f7;"
                       {% if sub_link.child_active %}aria-hidden="false"{% else %}aria-hidden="true" display="none" height:"0px"{% endif %}>
                    <ul class="kategorija-cel collection__filter-linklist" role="list">
                      {%- for sub_sub_link in sub_link.links -%}
                        <li class="katego">
                          {% assign collection1 = sub_sub_link.object %}
                          {% if forloop.index == 1 %}
                            <a id="prva-kategorija" href="{{ sub_sub_link.url }}" class="kategorija collection__filter-link link link--primary napis_slika {% if sub_sub_link.active %}is-active{% endif %}">
                              {% if collection1.image %}
                                <div>
                                  <img src="{{ collection1.image.src | collection_img_url: 'medium'}}" alt="{{ sub_sub_link.title }} kategorija" loading="lazy" class="ikonce_10">
                                </div>
                              {% endif %}
                              <div class="kategorija-napis collection-item__title">{{ sub_sub_link.title }}</div>
                          
                            </a>
                          {% else %}
                            <a href="{{ sub_sub_link.url }}" class="kategorija collection__filter-link link link--primary napis_slika {% if sub_sub_link.active %}is-active{% endif %}">
                              {% if collection1.image %}
                                <div>
                                  <img src="{{ collection1.image.src | collection_img_url: 'medium'}}" alt="{{ sub_sub_link.title }} kategorija" loading="lazy" class="ikonce_10">
                                </div>
                              {% endif %}
                              <div class="kategorija-napis collection-item__title">{{ sub_sub_link.title }}</div>
                             
                            </a>
                          {% endif %}
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                {%- else -%}{% endif %}
              {%- endif -%}
            {%- endfor -%}
          </ul>
        </div>
      {%- else -%}
  
 
      {%- endif -%}
    </li>
  {%- endfor -%}
</ul>

  {%- endif -%}