{%- assign showCode = false -%}
{%- for link in quick_links_menu.links -%}
    {%- for sub_link in link.links -%}
        {%- for sub_sub_link in sub_link.links -%}
            {%- if sub_sub_link.active and forloop.index == 1 -%}
                {%- assign showCode = true -%}
            {%- endif -%}
        {%- endfor -%}
    {%- endfor -%}
{%- endfor -%}
{%- if showCode -%}
<ul class="kolekcija" role="list" style="list-style: none; padding-bottom:10px;">
  {%- for link in quick_links_menu.links -%}
    <li>
      {%- if link.links.size > 0 -%}
        {%- capture link_id -%}filter-{% increment link_id %}{%- endcapture -%}
        {% assign collection1 = link.object %}

        <div class="kategorije-celota collection__filter-collapsible">
          <ul class="collection__filter-linklist zinb">
            {%- for sub_link in link.links -%}
              {% if sub_link.child_active %}
                {%- if sub_link.links.size > 0 -%}
                  <div id="{{ link_id }}" class="kolekcija2 collection__filter-collapsible kate1" style="background: #f2f5f7;"
                       {% if sub_link.child_active %}aria-hidden="false"{% else %}aria-hidden="true" display="none" height:"0px"{% endif %}>
                    <ul class="kategorija-cel collection__filter-linklist" role="list">
                      {%- for sub_sub_link in sub_link.links -%}
                        <li class="katego">
                          {% assign collection1 = sub_sub_link.object %}
                          {% if forloop.index == 1 %}
                            <a id="prva-kategorija" href="{{ sub_sub_link.url }}" class="kategorija collection__filter-link link link--primary napis_slika {% if sub_sub_link.active %}is-active{% endif %}">
                              {% if collection1.image %}
                                <div>
                                  <img src="{{ collection1.image.src | collection_img_url: 'medium'}}" alt="{{ sub_sub_link.title }} kategorija" loading="lazy" class="ikonce_10">
                                </div>
                              {% endif %}
                              <div class="kategorija-napis collection-item__title">{{ sub_sub_link.title }}</div>
                          
                            </a>
                          {% else %}
                            <a href="{{ sub_sub_link.url }}" class="kategorija collection__filter-link link link--primary napis_slika {% if sub_sub_link.active %}is-active{% endif %}">
                              {% if collection1.image %}
                                <div>
                                  <img src="{{ collection1.image.src | collection_img_url: 'medium'}}" alt="{{ sub_sub_link.title }} kategorija" loading="lazy" class="ikonce_10">
                                </div>
                              {% endif %}
                              <div class="kategorija-napis collection-item__title">{{ sub_sub_link.title }}</div>
                             
                            </a>
                          {% endif %}
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                {%- else -%}{% endif %}
              {%- endif -%}
            {%- endfor -%}
          </ul>
        </div>
      {%- else -%}
  
 
      {%- endif -%}
    </li>
  {%- endfor -%}
</ul>
  {%- else -%}



  
<div id="lazyload">

  <section data-section-id="{{ section.id }}" data-section-type="collection-list">
    <div class="container" style="padding-top:5px">
      {%- if section.settings.title != blank -%}
        <header class="section__header">
          <h2 class="section__title heading h3">{{ section.settings.title | escape }}</h2>

          {%- if section.settings.link_title != blank and section.settings.link != blank -%}
            <a href="{{ section.settings.link }}" class="section__action-link link">{{ section.settings.link_title | escape }} {% render 'icon', icon: 'tail-right' %}</a>
          {%- endif -%}
        </header>
      {%- endif -%}

      <div class="scroller">
        <div class="scroller__inner">
          <div class="no_border collection-list">
            {%- for link in quick_links_menu.links -%}
              {%- if link.active or link.child_active -%}
                {%- for sub_link in link.links -%}
                  {%- for sub_sub_link in sub_link.links -%}
                    {%- if sub_sub_link.object.image -%}
                      <div class="kategorija-item">
                        <a href="{{ sub_sub_link.url }}" class="product-item__image-wrapper slika_ime_iskalnik_kategorije" >
                          <img src="{{ sub_sub_link.object.image | img_url: 'medium' }}" alt="{{ sub_sub_link.title }}" class="product-item__image slika_iskalnik" loading="lazy">
                          <p class="product-item__title text--strong link {% if sub_sub_link.active %}is-active{% endif %}">{{ sub_sub_link.title }}</p>
                        </a>
                      </div>
                    {%- endif -%}
                  {%- endfor -%}
                {%- endfor -%}
              {%- endif -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

  <style>
p.product-item__title.text--strong.link {
    white-space: normal;line-height: 1.1;
}
    .scroller__inner{white-space: normal!important;
    text-align: center;}

 .flickity-viewport {
    min-height: 100px;
}


@media screen and (min-width: 1700px){

        .kategorija-item {
    width: 160px
}
        }
    
        @media screen and (max-width: 1700px){

        .kategorija-item {
    width: 280px
}
        }
@media screen and (max-width: 1350px){
       .kategorija-item {
    width: 340px
}
        }
        @media screen and (max-width: 1100px){

        .kategorija-item {
    width: 300px;padding-left:10px
}
        }
        
 a.product-item__image-wrapper.slika_ime_iskalnik_kategorije {
    width: 100px;background:white
}  
.collection-list {
    display: flex;
}
.product-item__image-wrapper {
  position: relative;
}

.slika_ime_iskalnik_kategorije:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  z-index: 1;
}

  
  button.flickity-button.flickity-prev-next-button.next {
    opacity: 1;
}
  .no_border:before{border:unset}
  .izdelek_kategorije {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;gap:5px 12px;
}
img.product-item__image.slika_iskalnik {
    max-width: 82%;
  max-height:80px;
    
}
  a.product-item__image-wrapper.slika_ime_iskalnik_kategorije {
    align-items: center;
    gap: 10px;
    border: solid 1px var(--border-color);
}
  
  .izdelek_kategorije_mobi{
  padding-left:5px;padding-right:5px;border:unset
}
  @media screen and (max-width: 641px){
.product-item.izdelek_kategorije_mobi.\31 \/4--lap.\31 \/5--desk.\31 \/5--wide{
  padding-left:5px;padding-right:5px;border:unset
}

    .no_border.product-list.product-list--vertical.product-list--scrollable {
    width: 80%;
}

  }

          p.product-item__title.text--strong.link.is-active {
    color: var(--accent-color);
}

          .collection__description.expandable-content.expandable-content--expandable {
    background: white;
    border: solid 1px var(--border-color);
    padding: 10px;
    margin-top: 15px;
}
          button.expandable-content__toggle {
    background: white;
}


.card {
    margin-bottom: -1px;
}

</style>
</div>

  
  {%- endif -%}