<button id="kategorje" class="Kategorije-Unior collection__toolbar-item collection__toolbar-item--filter" data-action="open-drawer" aria-haspopup="true" aria-expanded="false" aria-controls="kolo1" style="
  margin-bottom: 0px!important;
    transition: 0.5s;
    top: 64px;
    z-index: 4;
    position: sticky;
    border-bottom: solid 1px var(--border-color);
    padding-left: 10px;
    gap: 20px;
    height: 55px;
">
<svg style="margin-right:-2px" focusable="false" class="icon icon--arrow-bottom " viewBox="0 0 12 12" role="presentation">
<path stroke="currentColor" stroke-width="2" d="M6 10L2 6l4-4" fill="none" stroke-linecap="square"></path>
</svg>
  <h1 style="padding-top:0"class="collection__title heading h1">
{{- collection.title -}}
  </h1>
</button>



  

<div id="kolo1" class="drawer" aria-hidden="true">
<div class="drawer__inner" style="max-width:700px;left:0;right:unset;transform:unset">
<div class="collection-drawer" style="overflow-y: scroll;">
<header class="collection-drawer__header">
<div>
<button class="collection-drawer__close" data-action="close-drawer" title="{{ 'general.accessibility.close' | t | escape }}">
{%- render 'icon', icon: 'close' -%}
</button>
<span class="collection-drawer__title heading h3">Kategorije <span class="collection-drawer__filter-count" {% if active_filters_count == 0 %}style="display: none"{% endif %}>({{ active_filters_count }})</span></span>
</div>

<button class="button button--transparent button--extra-small" data-action="clear-filters" data-url="{{ collection.url }}?sort_by={{ sort_by }}" {% if active_filters_count == 0 %}style="display: none"{% endif %}>{{ 'collection.filter.clear' | t }}</button>
</header>


 <div class="kategorije-celota">
                          <ul class="collection__filter-linklist zinb">
<div id="filter-2" class="kolekcija2  kate1" style="background: #f2f5f7;" aria-hidden="false">

                                  <ul class="kategorija-cel2 collection__filter-linklist" role="list">
                                    
                                    <li class="katego2">
                                    <a href="/collections/unior-klesce" class="kategorija2 collection__filter-link link link--primary">
                                      <div class="col-img slika-subkategorija slika_navigacija_kategorija"> 
                                      <img src="//cdn.shopify.com/s/files/1/0560/1460/2426/collections/47d3fa6663e19da0aebb8fa884af68a8_medium.jpg?v=1650095543" class="ikonce_101"></div>
                                        <div class="kategorija-napis2 collection-item__title">  Unior Klešče</div>
                                        <svg focusable="false" class="icon   " viewBox="0 0 8 7" role="presentation"><path stroke="currentColor" stroke-width="2" d="M2 2l4 4-4 4" fill="none" stroke-linecap="square"></path></svg>
                                    </a>
                                  </li>
                                    
                                    <li class="katego2">
                                         <a href="/collections/unior-izvijaci" class="kategorija2 collection__filter-link link link--primary">
                                           <div class="col-img slika-subkategorija slika_navigacija_kategorija">                                           
                                  <img src="//cdn.shopify.com/s/files/1/0560/1460/2426/collections/2056a55d205dfeca617a47414ef72a60_medium.jpg?v=1666157640" class="ikonce_101"></div>
                                           <div class="kategorija-napis2 collection-item__title">  Unior Izvijači</div>
                                           <svg focusable="false" class="icon   " viewBox="0 0 8 7" role="presentation"> <path stroke="currentColor" stroke-width="2" d="M2 2l4 4-4 4" fill="none" stroke-linecap="square"></path></svg>
                                            </a>
                                        </li>
                                    
                                    <li class="katego2"><a href="/collections/unior-kljuci" class="kategorija2 collection__filter-link link link--primary">
                                          <div class="col-img slika-subkategorija slika_navigacija_kategorija">                                           
                                  <img src="//cdn.shopify.com/s/files/1/0560/1460/2426/collections/3bf94a8d7b7f9c2cafb6a934ea8521c3_09661cb1-3be1-4a76-9526-38eebed37ae1_medium.jpg?v=1650095544" class="ikonce_101"></div>
                                            <div class="kategorija-napis2 collection-item__title">  Unior Ključi</div>
                                            <svg focusable="false" class="icon   " viewBox="0 0 8 7" role="presentation"> <path stroke="currentColor" stroke-width="2" d="M2 2l4 4-4 4" fill="none" stroke-linecap="square"></path></svg>
                                            </a>
                                        </li>
                                    
                                    <li class="katego2"><a href="/collections/nastavki-in-adapterji" class="kategorija2 collection__filter-link link link--primary">
                                           <div class="col-img slika-subkategorija slika_navigacija_kategorija">                                           
                                  <img src="//cdn.shopify.com/s/files/1/0560/1460/2426/collections/nastavki_medium.jpg?v=1668712839" class="ikonce_101"></div>
                                            <div class="kategorija-napis2 collection-item__title">  Raglje in nasadni pribor</div>
                                            <svg focusable="false" class="icon   " viewBox="0 0 8 7" role="presentation"> <path stroke="currentColor" stroke-width="2" d="M2 2l4 4-4 4" fill="none" stroke-linecap="square"></path></svg>
                                            </a>
                                        </li>
                                    
                                    <li class="katego2"><a href="/collections/moment-kljuci" class="kategorija2 collection__filter-link link link--primary">
                                           <div class="col-img slika-subkategorija slika_navigacija_kategorija">                                           
                                  <img src="//cdn.shopify.com/s/files/1/0560/1460/2426/collections/770edabc18c9e9fb59ad095261a3e3ca_medium.webp?v=1650095562" class="ikonce_101"></div>
                                            <div class="kategorija-napis2 collection-item__title">  Moment ključi</div>
                                            <svg focusable="false" class="icon   " viewBox="0 0 8 7" role="presentation"> <path stroke="currentColor" stroke-width="2" d="M2 2l4 4-4 4" fill="none" stroke-linecap="square"></path></svg>
                                            </a>
                                        </li>
                                    
                                    <li class="katego2"><a href="/collections/unior-garniture" class="kategorija2 collection__filter-link link link--primary">
                                          <div class="col-img slika-subkategorija slika_navigacija_kategorija">                                           
                                  <img src="//cdn.shopify.com/s/files/1/0560/1460/2426/collections/3c807b195b288ae8de1239655d374368_medium.jpg?v=1666017962" class="ikonce_101"></div>
                                            <div class="kategorija-napis2 collection-item__title">  Unior Garniture</div>
                                            <svg focusable="false" class="icon   " viewBox="0 0 8 7" role="presentation"> <path stroke="currentColor" stroke-width="2" d="M2 2l4 4-4 4" fill="none" stroke-linecap="square"></path></svg>
                                            </a>
                                        </li>
                                    
                                    <li class="katego2"><a href="/collections/oprema-za-delavnico" class="kategorija2 collection__filter-link link link--primary">
                                           <div class="col-img slika-subkategorija slika_navigacija_kategorija">                                           
                                  <img src="//cdn.shopify.com/s/files/1/0560/1460/2426/collections/9d389c8fde338ed29f9bf217982df2a9_medium.webp?v=1650095532" class="ikonce_101"></div>
                                            <div class="kategorija-napis2 collection-item__title">  Oprema za delavnico</div>
                                            <svg focusable="false" class="icon   " viewBox="0 0 8 7" role="presentation"> <path stroke="currentColor" stroke-width="2" d="M2 2l4 4-4 4" fill="none" stroke-linecap="square"></path></svg>
                                            </a>
                                        </li>
                                    
                                    <li class="katego2"><a href="/collections/ostala-delavniska-orodja" class="kategorija2 collection__filter-link link link--primary">
                                           <div class="col-img slika-subkategorija slika_navigacija_kategorija">                                           
                                  <img src="//cdn.shopify.com/s/files/1/0560/1460/2426/collections/fb68d63f324a630fa9352812b2dd95e5_medium.jpg?v=1650095545" class="ikonce_101"></div>
                                            <div class="kategorija-napis2 collection-item__title">  Delavniško orodje</div>
                                            <svg focusable="false" class="icon   " viewBox="0 0 8 7" role="presentation"> <path stroke="currentColor" stroke-width="2" d="M2 2l4 4-4 4" fill="none" stroke-linecap="square"></path></svg>
                                            </a>
                                        </li>
                                    
                                    <li class="katego2"><a href="/collections/kladiva-tockala-sekaci" class="kategorija2 collection__filter-link link link--primary">
                                      <div class="col-img slika-subkategorija slika_navigacija_kategorija">                                           
                                  <img src="//cdn.shopify.com/s/files/1/0560/1460/2426/collections/e097db47324f5348e674103ab40951e9_medium.jpg?v=1650095546" class="ikonce_101"></div>
                                            <div class="kategorija-napis2 collection-item__title">  Kladiva točkala sekači</div>
                                            <svg focusable="false" class="icon   " viewBox="0 0 8 7" role="presentation"> <path stroke="currentColor" stroke-width="2" d="M2 2l4 4-4 4" fill="none" stroke-linecap="square"></path></svg>
                                            </a>
                                        </li>
                                    
                                    <li class="katego2"><a href="/collections/izolirano-orodje" class="kategorija2 collection__filter-link link link--primary">
                                           <div class="col-img slika-subkategorija slika_navigacija_kategorija">                                           
                                  <img src="//cdn.shopify.com/s/files/1/0560/1460/2426/collections/497b4e92bcdf51ef0c62109f44ad72aa_medium.jpg?v=1650095547" class="ikonce_101"></div>
                                            <div class="kategorija-napis2 collection-item__title">  Izolirano orodje</div>
                                            <svg focusable="false" class="icon   " viewBox="0 0 8 7" role="presentation"> <path stroke="currentColor" stroke-width="2" d="M2 2l4 4-4 4" fill="none" stroke-linecap="square"></path></svg>
                                            </a>
                                        </li>
                                    
                                    <li class="katego2"><a href="/collections/mersko-orodje" class="kategorija2 collection__filter-link link link--primary">
                                            <div class="col-img slika-subkategorija slika_navigacija_kategorija">                                           
                                  <img src="//cdn.shopify.com/s/files/1/0560/1460/2426/collections/e79919365b064d236df4a2a2cc898222_medium.jpg?v=1650095548" class="ikonce_101"></div>
                                            <div class="kategorija-napis2 collection-item__title">  Mersko orodje</div>
                                            <svg focusable="false" class="icon   " viewBox="0 0 8 7" role="presentation"> <path stroke="currentColor" stroke-width="2" d="M2 2l4 4-4 4" fill="none" stroke-linecap="square"></path></svg>
                                            </a>
                                        </li>
                                    
                                    <li class="katego2"><a href="/collections/skarje" class="kategorija2 collection__filter-link link link--primary">
                                          <div class="col-img slika-subkategorija slika_navigacija_kategorija">                                           
                                  <img src="//cdn.shopify.com/s/files/1/0560/1460/2426/collections/a9575d2189aae22b26cd92256ac6d16a_medium.jpg?v=1650095535" class="ikonce_101"></div>
                                            <div class="kategorija-napis2 collection-item__title">  Škarje</div>
                                            <svg focusable="false" class="icon   " viewBox="0 0 8 7" role="presentation"> <path stroke="currentColor" stroke-width="2" d="M2 2l4 4-4 4" fill="none" stroke-linecap="square"></path></svg>
                                            </a>
                                        </li>
                                    
                                    <li class="katego2"><a href="/collections/avtomobilsko-orodje" class="kategorija2 collection__filter-link link link--primary">
                                           <div class="col-img slika-subkategorija slika_navigacija_kategorija">                                           
                                  <img src="//cdn.shopify.com/s/files/1/0560/1460/2426/collections/1217b06f15f0c64f2a62c61bcd275b73_medium.jpg?v=1650095538" class="ikonce_101"></div>
                                            <div class="kategorija-napis2 collection-item__title">  Avtomobilsko orodje</div>
                                            <svg focusable="false" class="icon   " viewBox="0 0 8 7" role="presentation"> <path stroke="currentColor" stroke-width="2" d="M2 2l4 4-4 4" fill="none" stroke-linecap="square"></path></svg>
                                            </a>
                                        </li>
                                    
                                    <li class="katego2"><a href="/collections/pnevmatsko-orodje-in-pribor" class="kategorija2 collection__filter-link link link--primary">
                                           <div class="col-img slika-subkategorija slika_navigacija_kategorija">                                           
                                  <img src="//cdn.shopify.com/s/files/1/0560/1460/2426/collections/b79c90ef2fb6f6bbd595bd298ed3a3b1_medium.jpg?v=1650095548" class="ikonce_101"></div>
                                            <div class="kategorija-napis2 collection-item__title">  Pnevmatsko orodje</div>
                                            <svg focusable="false" class="icon   " viewBox="0 0 8 7" role="presentation"> <path stroke="currentColor" stroke-width="2" d="M2 2l4 4-4 4" fill="none" stroke-linecap="square"></path></svg>
                                            </a>
                                        </li>
                                    
                                    <li class="katego2"><a href="/collections/snemalci" class="kategorija2 collection__filter-link link link--primary">
                                           <div class="col-img slika-subkategorija slika_navigacija_kategorija">                                           
                                  <img src="//cdn.shopify.com/s/files/1/0560/1460/2426/collections/ac991921411c42d8484d834b8700b8ff_medium.jpg?v=1650095533" class="ikonce_101"></div>
                                            <div class="kategorija-napis2 collection-item__title">  Snemalci</div>
                                            <svg focusable="false" class="icon   " viewBox="0 0 8 7" role="presentation"> <path stroke="currentColor" stroke-width="2" d="M2 2l4 4-4 4" fill="none" stroke-linecap="square"></path></svg>
                                            </a>
                                        </li>
                                    
                                    <li class="katego2"><a href="/collections/rezervni-deli-unior" class="kategorija2 collection__filter-link link link--primary">
                                            <div class="col-img slika-subkategorija slika_navigacija_kategorija">                                           
                                  <img src="//cdn.shopify.com/s/files/1/0560/1460/2426/collections/c06902178077653c90c3c49e218c0bfd_medium.webp?v=1650095678" class="ikonce_101"></div>
                                            <div class="kategorija-napis2 collection-item__title">  Rezervni deli Unior</div>
                                            <svg focusable="false" class="icon   " viewBox="0 0 8 7" role="presentation"> <path stroke="currentColor" stroke-width="2" d="M2 2l4 4-4 4" fill="none" stroke-linecap="square"></path></svg>
                                            </a>
                                        </li>
                                    
                                    <li class="katego2"><a href="/collections/unior-orodje" class="kategorija2 collection__filter-link link link--primary">
                                            <div class="col-img slika-subkategorija slika_navigacija_kategorija">                                           
                                  <img src="//cdn.shopify.com/s/files/1/0560/1460/2426/collections/3bf94a8d7b7f9c2cafb6a934ea8521c3_300x_afbca3bd-267b-49ae-a2c0-b40c108f201d_medium.webp?v=1666107090" class="ikonce_101"></div>
                                            <div class="kategorija-napis2 collection-item__title">  Vse Unior</div>
                                            <svg focusable="false" class="icon   " viewBox="0 0 8 7" role="presentation"> <path stroke="currentColor" stroke-width="2" d="M2 2l4 4-4 4" fill="none" stroke-linecap="square"></path></svg>
                                            </a>
                                        </li>

                                  </ul></div></ul></div>
               


<div class="collection-drawer__footer">
</div>
</div>
</div>
</div>


<style>
   @media screen and (max-width: 998px){
  .naslov_h1{display:none}
  .slika_navigacija_kategorija{height:unset!important}
     .h1.collection__title.heading.h1{font-size:22px}
     .collection__toolbar.collection__toolbar--bordered {
    position: sticky;
    top: 118px;
}
     }
@media screen and (min-width: 999px) {
  .Kategorije-Unior {display: none}
}
  @media screen and (max-width: 998px){
ul.kategorija-cel2.collection__filter-linklist{display:block}
  a.kategorija2.collection__filter-link.link.link--primary{display:flex!important;min-height:unset;align-items: center;
    border-bottom: solid 1px var(--border-color);background: white;gap:15px;height: 90px;padding-left: 10px;}
  
.deli{grid-template-columns:1fr;gap:1px;width:100%;margin:auto}
a.trojna.glavna-kategorija {display: flex;}
  .collection-item__image-wrapper{width:68px}
  .drawer:before{transition:unset}
  .drawer{transition:unset}
  span.collection-item__title.text--strong{padding-left:20px}
  .Kategorije-Unior {
    background-color: #0000000d;
}
button#kategorje{width: 100%;
    margin-bottom: 25px!important;
}
 .collection__title {
    padding-top: 15px;
}
.predgumbom{width:400px}


  
    .drawer__inner{width:90%}
 button#kategorje{background: #0000000d;width:94%;}
    .predgumbom{width:94%}    
 
     


.Kategorije-Unior {
    background-color: #00000007;
}
.majhna-slikica{position:relative}
  .majhna-slikica:after {
content: "";
    background-color: #00000008;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.collection__filter-linklist .collection__filter-linklist{padding:0}

 button#kategorje{z-index:4;top:0;background: white;width:100%;}
.katego2{margin-right:6px;margin-bottom:0px} 
img.ikonce_101 {
    filter: brightness(0.95);
    border-radius: 100%;
    width: 70px;
}
.kategorija-napis2.collection-item__title{font-weight:500}
.col-img.slika-subkategorija { width: 70px;}
.kategorija-napis2.collection-item__title{font-size:19px;display:flex;-webkit-box-flex: 1;flex-grow: 1;}
    }
 </style> 
 

  
  
  

  



