{% assign linklist = linklists['vse-kategorije2'] %}



{%- capture section_settings -%}
{
  "stackable": false,
  "layout": "vertical",
  "productId": {{ product.id | json }},
  "useRecommendations": true,
  "recommendationsCount": 10
}
{%- endcapture -%}

<section class="section" data-section-id="{{ section.id }}" data-section-type="product-recommendations" data-section-settings='{{ section_settings }}'>
  <div class="container">
    {%- if section.settings.heading != blank -%}
      <header class="section__header">
        <h2 class="section__title heading h3">{{ section.settings.heading | escape }}</h2>
      </header>
    {%- endif -%}

    <div class="product-recommendations">
      {%- if recommendations.performed -%}
        <div class="scroller">
          <div class="scroller__inner" style="text-align: center;">
            <div class="no_border product-list product-list--vertical product-list--scrollable">


{% assign collections = '' %}
{% assign counter = 0 %}
{% assign all_collections = '' %}

{% for link in linklist.links %}
  {% if link.type == 'collection_link' %}
    {% for sub_link in link.links %}
      {% if sub_link.type == 'collection_link' %}
        {% assign all_collections = all_collections | append: sub_link.object.title | append: ',' %}
        {% for sub_sub_link in sub_link.links %}
          {% if sub_sub_link.type == 'collection_link' %}
            {% assign all_collections = all_collections | append: sub_sub_link.object.title | append: ',' %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% assign current_product = product %}
{% assign current_collection = current_product.collections.first %}
{% assign current_collection_title = current_collection.title %}
{% assign current_two_words = current_collection_title | split: ' ' | first:2 | join: ' ' %}

{% for collection in current_product.collections %}
  {% assign collection_title = collection.title %}
  {% assign collection_two_words = collection_title | split: ' ' | first:2 | join: ' ' %}
  {% if current_two_words == collection_two_words and all_collections contains collection_title %}
    <div class="product-item izdelek_kategorije_mobi 1/4--lap 1/5--desk 1/5--wide">
      <a href="{{ collection.url }}" class="product-item__image-wrapper slika_ime_iskalnik_kategorije">
        <img src="{{ collection.image | collection_img_url: 'medium' }}" class="product-item__image slika_iskalnik" loading="lazy">
        <p class="product-item__title text--strong link">{{ collection_title }}</p>
      </a>
    </div>
    {% assign collections = collections | append: collection_title %}
    {% assign counter = counter | plus: 1 %}
    {% if counter == 5 %}
      {% break %}
    {% endif %}
  {% endif %}
{% endfor %}

{% for product in recommendations.products %}
  {% unless current_product.handle == product.handle %}
    {% assign first_collection_title = product.collections.first.title %}
    {% assign first_two_words = first_collection_title | split: ' ' | first:2 | join: ' ' %}
    {% for collection in product.collections %}
      {% assign collection_title = collection.title %}
      {% assign collection_two_words = collection_title | split: ' ' | first:2 | join: ' ' %}
      {% if first_two_words == collection_two_words and all_collections contains collection_title %}
        {% unless collections contains collection_title %}
          <div class="product-item izdelek_kategorije_mobi 1/4--lap 1/5--desk 1/5--wide">
            <a href="{{ collection.url }}" class="product-item__image-wrapper slika_ime_iskalnik_kategorije">
              <img src="{{ collection.image | collection_img_url: 'medium' }}" class="product-item__image slika_iskalnik"loading="lazy">
              <p class="product-item__title text--strong link">{{ collection_title }}</p>
            </a>
          </div>
          {% assign collections = collections | append: collection_title %}
          {% assign counter = counter | plus: 1 %}
          {% if counter == 6 %}
            {% break %}
          {% endif %}
        {% endunless %}
     
  {% endif %}
{% endfor %}
    {% endunless %}
{% endfor %}


            </div>
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>
<style>

.product-item__image-wrapper {
  position: relative;
}

.slika_ime_iskalnik_kategorije:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  z-index: 1;
}

  
  button.flickity-button.flickity-prev-next-button.next {
    opacity: 1;
}
  .no_border:before{border:unset}
  .izdelek_kategorije {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;gap:5px 12px;
}
img.product-item__image.slika_iskalnik {
    max-width: 82%;
  max-height:80px;
    
}
  a.product-item__image-wrapper.slika_ime_iskalnik_kategorije {
    display: flex;
    align-items: center;
    gap: 10px;
    border: solid 1px var(--border-color);
}
  
  .izdelek_kategorije_mobi{
  padding-left:5px;padding-right:5px;border:unset
}
  @media screen and (max-width: 641px){
.product-item.izdelek_kategorije_mobi.\31 \/4--lap.\31 \/5--desk.\31 \/5--wide{
  padding-left:5px;padding-right:5px;border:unset
}

    .no_border.product-list.product-list--vertical.product-list--scrollable {
    width: 80%;
}

  }
</style>
  {%- comment -%}
  --------------------------------------------------------------------------------------
  QUICK VIEW CONTAINER
  --------------------------------------------------------------------------------------
  {%- endcomment -%}

  <div id="modal-quick-view-{{ section.id }}" class="modal" aria-hidden="true">
    <div class="modal__dialog modal__dialog--stretch" role="dialog">
      <button class="modal__close link" data-action="close-modal" title="{{ 'general.accessibility.close' | t | escape }}">
        {%- render 'icon', icon: 'close' -%}
      </button>

      <div class="modal__loader">
        {%- render 'icon', icon: 'search-loader' -%}
      </div>

      <div class="modal__inner"></div>
    </div>
  </div>
</section>
    
    
    {% schema %}
    {
      "name": "Related products",
      "templates": ["product"],
      "settings": [
        {
          "type": "paragraph",
          "content": "Dynamic recommendations change and improve with time. Create manual product recommendations using the Shopify Search & Discovery app. [Learn more](https://help.shopify.com/en/manual/online-store/search-and-discovery/product-recommendations)."
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "You may also like"
        },
        {
          "type": "checkbox",
          "id": "show_quick_buy",
          "label": "Show quick buy",
          "default": false
        }
      ],
      "presets": [
        {
          "category": "Product",
          "name": "Related products"
        }
      ]
    }
    {% endschema %}



